@use "../../base" as *;

.navbar{
    @include flex($fd: row);

    ul{
        list-style: none;
        padding: 0px;

        li{
            text-align: center;
            font-size: large;
            border: 1px dashed black;
            padding: 10px;
            border-radius: 10px;
        }
    }
}